:root {
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --tertiary-blue-color: #0b25c6;
    --tertiary-grey-color: #ccc8c0  ;
    --primary-padding: 55px;
    }

* {
    box-sizing: border-box;
    }

html {
    font-size: 12px;
    height: 100vh;
    }

body {
    background-color:var(--secondary-color);
    display: flex;
    flex-direction: column;
    margin: 0px;  
    flex-grow: 1;
    }


.hero{
    display: flex;
    min-height: 350px;
    background-image: url(../resources/content/Haceli-strunchie-pia.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    }

.hero-text{
    align-items: center;
    display: flex;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    }

.heading {
    color: var(--secondary-color);
    font-size: 2.5rem;
    font-weight: 500;
    }

main.contact-grid {
    background-color: var(--secondary-color);
    flex-grow: 1;
    margin: 80px 0;
    } 

.rubrik-contact-form {
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 0.1rem;
    font-family: sans-serif;
    }

form.contact-form {
    margin: 0;
    }

fieldset.contact-fieldset{
    display: block;  
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    }


label,
input {
    display: block;
    }

input,
textarea,
.topic {
    margin-bottom: 50px;
    }   

textarea.description-contact{
    width: 100%;
    resize: vertical;
    outline: none;    
    min-height: 120px;
    }

.topic{
    background-color: transparent;
    font-size: 1rem;
    height: 44px;
    text-transform: uppercase;
    font-weight: bold;
    height: 44px;
    width: 100%;
    outline: none;    
    padding: 10px;
    border-radius: 2px;
    }

.contact-input{
    background-color: transparent;
    border:none;
    border-bottom: 1px solid black;
    font-size: 1rem;
    width: 100%;
    padding: 10px;
    outline: none;
    }


button.submit{
    background-color: var(--primary-color);
    border-radius: 2px;
    color: var(--secondary-color);
    font-size: 1.1rem;
    padding: 10px;
    width: 194px;
    height: 44px;
    font-weight: 900;
    border: none;
    }

button.submit:hover {
    background-color: var(--tertiary-blue-color);
    }


@media screen and (max-width: 960px) {

fieldset.contact-fieldset,
.hero-text{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    }

}
    

@media screen and (max-width: 620px) {

.hero-text {
    margin: 0 15px;
    }

main.contact-grid {
    margin: 50px 15px; 
    } 
    
button.submit {
    width: 100%;
    }

}

         

           