:root {
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --tertiary-blue-color: #0b25c6;
    --tertiary-grey-color: #ccc8c0;
    --tertiary-light-grey-color: #f8f8f8;
    --primary-padding: 50px;
    --primary-height: 61.5px;
    }

* {
    box-sizing: border-box;
    font-family: lato;
    }

html {
    font-size: 12px;
    height: 100vh;
    }

body {
    background-color:var(--tertiary-light-grey-color);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0px;  
    }

.contact-container {
    display: flex;
    justify-content: center;
    }

.contact-grid {
    background-color: var(--secondary-color);
    flex-grow: 1;
    margin-top: var(--primary-height);
    max-width: 720px;
    padding: 60px 120px;
    } 

.titel-contact{
    font-size: 2rem;
    margin-bottom: 40px;
    text-transform: uppercase;
    }

.rubrik-contact-form {
    letter-spacing: 0.1rem;
    margin-bottom: 10px;
    text-transform: uppercase;
    }

form.contact-form {
    margin: 0;
    }

fieldset.contact-fieldset{
    border: none;
    display: block;  
    margin-bottom: 50px;
    padding: 0;
    }

label,
input {
    display: block;
    }

.contact-input,
textarea,
.topic {
    margin-bottom: 50px;
    }   

textarea.description-contact{
    min-height: 200px;
    outline: none;    
    resize: vertical;
    width: 100%;
    }

.topic{
    background-color: transparent;
    border-radius: 2px;
    font-size: 1rem;
    font-weight: bold;
    height: 44px;
    height: 44px;
    outline: none;    
    padding: 10px;
    text-transform: uppercase;
    width: 100%;
    }

.contact-input{
    background-color: transparent;
    border:none;
    border-bottom: 1px solid var(--primary-color);
    outline: none;
    width: 100%;
    }

button.submit{
    background-color: var(--primary-color);
    border-radius: 2px;
    border: none;
    color: var(--secondary-color);
    font-size: 1rem;
    font-weight: 700;
    height: 44px;
    padding: 10px;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    width: 194px;
    }

button.submit:hover {
    background-color: var(--tertiary-blue-color);
    }

    @media screen and (max-width: 874px) {
        .contact-grid {
            padding: 60px 50px;
            }
    }
    
    @media screen and (max-width: 620px) {
        .contact-grid {
            padding: 60px 20px;
            }

        button.submit {
        width: 100%;
        }
    }



           