:root {
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --tertiary-blue-color: #0b25c6;
    --tertiary-grey-color: #ccc8c0  ;
    --primary-padding: 50px;
    }

* {
    box-sizing: border-box;
    font-family: sans-serif;
    }

html {
    font-size: 12px;
    height: 100vh;
    }

body {
    background-color:var(--secondary-color);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    margin: 0px;  
    }
