:root {
  --primary-color: #000000;
  --secondary-color: #ffffff;
  --tertiary-blue-color: #0b25c6;
  --tertiary-grey-color: #ccc8c0  ;
  --primary-padding: 50px;
  }

* {
  box-sizing: border-box;
  font-family: lato;
  }

html {
  font-size: 12px;
  height: 100vh;
  }

body {
  background-color:var(--secondary-color);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0px;  
  }

.shop-info{
  align-items: center;
  background-color: var(--secondary-color);
  display: flex;
  height: 61.5px;
  margin-top: 61.5px;
  }

.shop-text{
  cursor: default;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.15rem;
  margin: var(--primary-padding); 
  text-transform: uppercase;
  }

.product-area{
  padding: 0px 0 100px 0;
  }

.product-type {
  cursor: default;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
  }

.product-contianer {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows:auto;
  margin: 0 45px 45px 45px; 
  }

.one-third-one{
  grid-column: 1 / span 4;
  }

.one-third-two {
  grid-column: 5 / span 4;
  }

.one-third-three {
  grid-column: 9 / span 4;
  }

h1.product-collection {
  color: var(--primary-color);
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  text-align: center;
  }

.product-pic {
  background-color: #f8f8f8;
  display: flex;
  flex: 1 0 auto;
  height: auto;
  justify-content: space-between;
  width: 100%;
  }

.product {
  flex: 1 0 auto;
  justify-content: space-between;
  margin: 0 5px;
  }

.product:hover {
  scale: 1.005;
  }

.product:hover .product-info-container {
  color: var(--primary-color);
  transition: .5s;
  }

.product:hover .product-collection {
  color: var(--tertiary-blue-color);
  transition: .5s;
  }

.product-info-container {
  background-color: transparent;
  box-sizing: border-box;
  color: var(--tertiary-dark-grey-color);
  display: contents;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  margin: 20px 0 0;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  }

.product-info {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;  
  position: relative;
  top: -25px;
}

.productcollection {
  top: -40px;
}

.product-titel, .product-price {
  margin: 0;
}

.add-product-collection {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  }

.product-collection {
  color: var(--primary-color);
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 0;
  }

@media screen and (max-width: 875px) {
  .product-contianer {
    gap:0;
    grid-template-columns: repeat(12, 1fr);
    margin: 0 30px; 
    }
    
  .one-third-one{
    grid-column: 1 / span 6;
    }

  .one-third-two {
    grid-column: 7 / span 6;
    }

  .one-third-three {
    grid-column: 1 / span 12;
    }

  .one-half-one {
    grid-column: 1 / span 6;
    }

  .one-half-two{
    grid-column: 7 / span 6;
    }
}

@media screen and (max-width: 620px) {
  .product-contianer {
    display: inline-block;
    margin: 0;
    padding: 0; 
   }  

  .product {
    margin: 0px;
    }
}
  


