:root {
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --tertiary-blue-color: #0b25c6;
    --tertiary-grey-color: #ccc8c0;
    --tertiary-light-grey-color: #f8f8f8;
    --primary-padding: 50px;
    }

* {
    box-sizing: border-box;
    font-family: lato;

    }

html {
    height: 100vh;
    }

body {
    background-color:var(--tertiary-light-grey-color);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0px;  
    }

.contianer-standard{
    background-color: var(--secondary-color);
    display: block;
    margin: auto;
    margin-top: 61.5px;
    max-width: 720px;
    padding: 60px 120px;
    }

.img-standard{
    box-sizing: border-box;
    filter: grayscale(1);
    width: 100%;
    }

.artikel-standard{
    background-color: transparent ;
    color: #000000;
    font-size: 1.1rem;
    font-weight: 100;
    line-height: 1.8;   
    }

.titel-standard{
  font-size: 2rem;
  text-transform: uppercase;
  }

.subtitel-standard{
    margin-top: 50px;
    text-transform: uppercase;
    font-weight: 400;
}

.standard-list {
    font-size: 12px;
}

@media screen and (max-width: 874px) {
    .contianer-standard{
        padding: 60px 50px;
        }
}

@media screen and (max-width: 620px){
    .contianer-standard{
        padding: 60px 20px;
        }
}